//VARIABLES
$blue-grey:#3e4156;
$light-grey:#46485b;
$sky-blue:#71c6dd;
$white:#fff;
$login-header:#696D97;

$heading-font: 'Montserrat', sans-serif;
$username-font: 'Lobster', cursive;
$crumbs-font:'Hind Madurai', sans-serif;

@mixin step-background{
  background-image: url('./assets/step_background.png');
  background-size: cover;
}

*{
    box-sizing: border-box;
    margin: 0px;
}
a{
    text-decoration: none;
}
//NAVBAR
.navbar{
    //background-color: $light-grey;
    //add-mixin
    @include step-background;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font: {
        family:$heading-font;
        size:16px;
    }
    .links{
        display: flex;
        align-items: center;
        a{
            color: $white;
            text-decoration: none;
            margin: 8px;
            &:hover{
                border-bottom: 1px solid white;
            }
        }
      
    }
    .brand{
       display: flex;
       color: $sky-blue;
       align-items: center;
        font-size: 20px;
        svg{
            fill: $sky-blue;
            width:35px;
            height: 35px;
            margin-left: 5px;
            margin-top: 4px;
        }
    }
}
.log-out-btn{
    background-color: transparent;
    border: 1px solid $sky-blue;
    margin-left: 2px;
    color: $sky-blue;
    border-radius: 5px;
    height: 25px;
}
//HOME PAGE
.home-container{
  //add mixin
  @include step-background;
    height: 100vh;
    font-family: $crumbs-font;
}
.home-text{
   
    text-align: center;
    position: relative;
    top: 90px;
    color: $white;
    h3{
        font-size: 55px;
        span{
            color: $sky-blue;
        }
    }
    h5{
        font-size: 30px;
        font-weight: lighter;
        margin-bottom: 50px;
        span{
            font-family: $username-font;
        }
        
    }
    .button {
        all: unset;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0.6em 2em;
        border: #71c6dd solid 0.15em;
        border-radius: 0.25em;
        color: #71c6dd;
        font-size: 1.5em;
        font-weight: 600;
        cursor: pointer;
        overflow: hidden;
        transition: border 300ms, color 300ms;
        user-select: none;
        margin: 0 auto;
      
      }
      
      .button p {
        z-index: 1;
      }
      
      .button:hover {
        color: #fff;
      }
      
      .button:active {
        border-color: #71c6dd;
      }
      
      .button::after, .button::before {
        content: "";
        position: absolute;
        width: 9em;
        aspect-ratio: 1;
        background: #71c6dd;
        opacity: 50%;
        border-radius: 50%;
        transition: transform 500ms, background 300ms;
      }
      
      .button::before {
        left: 0;
        transform: translateX(-8em);
      }
      
      .button::after {
        right: 0;
        transform: translateX(8em);
      }
      
      .button:hover:before {
        transform: translateX(-1em);
      }
      
      .button:hover:after {
        transform: translateX(1em);
      }
      
      .button:active:before,
      .button:active:after {
        background: $sky-blue;
      }
}

//SIGN UP
.sign-up-page{

    //add mixin
    @include step-background;
    height: 100vh;
    padding: 20px;
}
.form-div{
    width:300px;
    height:400px;
    
    background-color: $light-grey ;
    font-family: $heading-font;
    font-weight: lighter;
    margin: 0 auto;
    font-size: 14px;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 0px 0px 10px 10px;
    h1{
     background-color: $login-header;
       color: $white;
       border-radius: 10px 10px 0px 0px;
       padding: 2px;
       text-align: center;
       font-size: 25px;
       padding: 4px;
    }
    
   button{
    margin: 10px;
    margin-left:110px;
    background-color: $sky-blue;
    color: $white;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
   }

 
}
.sign-up-form{
  .wrapper{
    
    padding: 5px;
    margin: 10px;
    position: relative;

    input{
      background-color: transparent;
      color: $sky-blue;
      outline:none;
      border: none;
      border-bottom: 1px solid $white;
     width: 90%;
      }
    label{
      color: $white;
      font-weight: 400;
      margin-right: 5px;
      transition: .5s;
    }
    input:focus  {
     
      border-color:$sky-blue;
      
    }
    ::placeholder{
      text-align: center;
      }
}
 
 
}

.after-signup{
   font-family: $heading-font; 
   color: $white;
   text-align: center;
   padding: 40px;
   a{
    color: $sky-blue;
    font-size: 30px;
   }
   h3{
    font-size: 40px;
    
   }
}
//LOGIN PAGE
.log-container{
//add mixin
@include step-background;
  height: 100vh;
  font-family: $crumbs-font;
  h3{
    color: $white;
    text-align: center;
    font-size: 30px;
    margin: 5px;
    margin-top: 30px;
  }
  a{
    color: $sky-blue;
    position: relative;
    top :30px;
    left: 60px;
    font-size: 25px;
  }
  .message{
    color: $sky-blue;
    text-align: center;
    margin-bottom: 30px;
  }
}
.log-form{
  border: 1px solid white;
  width: 300px;
  height: 250px;
  margin: 0 auto;
  background-color: $light-grey;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  .input-wrapper{
    border: 1px solid blue;
    margin: 30px;
    input{
      outline: none;
      background: transparent;
      border: none;
      border-bottom: solid 1px $white;
      color: $white;
      padding: 10px;
      width: 100%;

    }
    input:focus{
      border-color: $sky-blue;
    }
    ::placeholder{
      color: $sky-blue;
    }
  }
  button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: none;
    color: $white;
    background-color: $sky-blue;
    margin-left: 100px;
    position: relative;
    top: 10px;
  }
}

//CONTENT
.content-container{
  @include step-background;
  height: 1000px;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-template-rows: auto 1fr;
  
  width:70%;
  margin: 0 auto;
  font-family: $crumbs-font;
}

.chat-wrapper{
  box-shadow: 0 15px 25px rgba(0,0,0,.4);
  height: 100px;
  margin: 0 auto;
  background-color: $light-grey;
  width: 220px;
  padding: 15px;
  border-radius: 4px;
  margin-bottom: 20px;
  input{
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    color: $sky-blue;
    width: 95%;
  }
  ::placeholder{
    color: $white;
    font-weight: lighter;
  }
  button{
    width:60px;
    background-color: $sky-blue;
    color: $white;
    height: 30px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    position: relative;
    left: 120px;
  }
}
.col-one{
  border:1px solid $sky-blue;
  border-radius: 7px 0px 0px 7px;
}
.col-two{
  border:1px solid $sky-blue;
  border-radius: 0px 7px 7px 0px;
  //grid-template-rows: repeat(2, minmax(auto, 100px)); /* Three rows with minimum 100px height */
  grid-row-gap:20px;
}

.user-name-personal{
  font-family: $username-font;
  color: $white;
  font-size: 32px;
  margin-left: 60px;
}

.feed-container{
   
    @include step-background;
}

.other-users{

  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  background-color: $blue-grey;
  border-radius: 5px;
  color: $white;
  height: 60px;
  button{
    background-color: $sky-blue;
    color: $white;
    border: none;
    border-radius: 5px;
    height: 20px;
  }
}
.row-one{
  
  margin-bottom: 20px;
 
  h3{
    color: $white;
    margin-left: 15px;
    font-size: 22px;
    padding: 5px;
  }
}
.row-two{
  
  h3{
    color: $white;
    font-size: 20px;
    margin-left: 15px;
  }
}
.own-chat{
  background-color: $light-grey;
  border: 1px solid pink;
  margin-bottom: 5px;
  border: 2px;
  border-radius: 3px;
  padding: 5px;
  color: $white;
}
.content-parent{
  height: 100vh;
 
}
.time-div{
  border: 1px solid grey;
  background-color: $light-grey;
  height: 40px;
  color: $white;

}
.current-chatter{
  text-align:center;
  font-family: $username-font;
  font-size: 22px;
  color: $white;
}
